<div class="lg:m-20 md:m-10 p-4 bg-white rounded-xl shadow-md">
    <h1 class="text-4xl font-bold mb-4 text-center">About Us</h1>
    <p>

        Welcome to the <span class="italic">(un)</span>official website of CM Car Management, where innovation meets
        sustainability! Our application has been designed to offer a seamless platform for our employees, fostering a
        collaborative environment
        that encourages the sharing of car rides to the other offices and potential clients. At CM Car Management, we
        are committed to maximizing efficiency and contributing to a greener, more sustainable future by reducing the
        number of individual cars
        on the road.
    </p>

    <p>This application has been built by </p>

    <section class="mt-8">
        <h2 class="text-2xl font-bold mb-4">The Team</h2>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4">
            <a href="https://github.com/OrdinaryOx"
                class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105">
                <h3 class="text-lg font-semibold">Janko Seremak <span class="text-gray-400">&#64;OrdinaryOx</span> </h3>
                <p class=" text-gray-500 ">Scrum Master</p>
            </a>
            <a href="https://github.com/WorldwideErrors"
                class=" bg-white rounded-lg shadow-md p-4 border-2 transition duration-300 transform hover:scale-105 ">
                <h3 class=" text-lg font-semibold ">Jeffrey van Tillo <span
                        class="text-gray-400">&#64;WorldWideErrors</span>
                </h3>
                <p class=" text-gray-500 ">Frontend Developer / Technical Writer</p>
            </a>
            <a href="https://github.com/JanvElswijk"
                class=" bg-white rounded-lg shadow-md p-4 border-2 transition duration-300 transform hover:scale-105 ">
                <h3 class=" text-lg font-semibold ">Jan van Elswijk <span class="text-gray-400">&#64;JanvElswijk</span>
                </h3>
                <p class=" text-gray-500 ">Backend Developer</p>
            </a>
            <a href="https://github.com/AnnaCrystals"
                class=" bg-white rounded-lg shadow-md p-4 border-2 transition duration-300 transform hover:scale-105 ">
                <h3 class=" text-lg font-semibold ">Daan de Vries <span class="text-gray-400">&#64;AnnaCrystals</span>
                </h3>
                <p class=" text-gray-500 ">Frontend Developer</p>
            </a>
            <a href="https://github.com/TijnVanBekhoven "
                class=" bg-white rounded-lg shadow-md p-4 border-2 transition duration-300 transform hover:scale-105 ">
                <h3 class=" text-lg font-semibold ">Tijn van Bekhoven <span
                        class="text-gray-400">&#64;TijnVanBekhoven</span>
                </h3>
                <p class=" text-gray-500 ">Frontend Developer / Technical Writer</p>
            </a>
            <a href="https://github.com/NietJan"
                class=" bg-white rounded-lg shadow-md p-4 border-2 transition duration-300 transform hover:scale-105 ">
                <h3 class=" text-lg font-semibold ">Jan van Berkel <span class="text-gray-400">&#64;NietJan</span></h3>
                <p class=" text-gray-500 ">Full Stack Developer / Reviewer</p>
            </a>
        </div>
    </section>

</div>