<div class="lg:m-20 md:m-10 p-4 bg-white rounded-xl shadow-md">
    <h1 class="text-4xl font-bold mb-0 text-center">Contact Us</h1>
    <p class="text-gray-500 italic text-center">
        If you have any questions or inquiries, please feel free to reach out to us using the links shown below.
    </p>

    <!-- Links -->
    <section class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Our Links</h2>
        <div class="grid lg:grid-cols-6 sm:grid-cols-3 gap-4">
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://twitter.com/CMcom_">
                <h3 class="text-lg font-semibold">&#64;CMcom_</h3>
                <p class="text-gray-500">
                    <i class="fab fa-twitter"></i> Twitter / X
                </p>
            </a>
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://twitter.com/cm_nl">
                <h3 class="text-lg font-semibold">&#64;cm_nl</h3>
                <p class="text-gray-500">
                    <i class="fab fa-twitter"></i> Twitter / X
                </p>
            </a>
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://nl.linkedin.com/company/cmcom">
                <h3 class="text-lg font-semibold">&#64;CM.com</h3>
                <p class="text-gray-500">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </p>
            </a>
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://twitter.com/cm_nl">
                <h3 class="text-lg font-semibold">&#64;cmdotcom</h3>
                <p class="text-gray-500">
                    <i class="fab fa-github"></i> GitHub
                </p>
            </a>
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://www.instagram.com/cmdotcom/">
                <h3 class="text-lg font-semibold">&#64;cmdotcom</h3>
                <p class="text-gray-500">
                    <i class="fab fa-instagram"></i> Instagram
                </p>
            </a>
            <a class="bg-white rounded-lg shadow-md p-4 border-2  transition duration-300 transform hover:scale-105" href="https://www.facebook.com/CMdotcom1/">
                <h3 class="text-lg font-semibold">&#64;CMdotcom1</h3>
                <p class="text-gray-500">
                    <i class="fab fa-facebook"></i> Facebook
                </p>
            </a>

        </div>
    </section>

</div>